<div class="d-flex justify-content-center">
    <h1 class="text-success">Welcome User</h1>
</div>
<br />
<hr />
<br />

<tfoot>
    <a asp-controller="User" asp-action="Create" class="btn btn-success">

        <h1>Register</h1>
    </a>
    <br />
    <hr />
    <br />

</tfoot>

<tfoot>
    <a asp-controller="User" asp-action="LogIn" class="btn btn-success">
        <h1>
            LogIn

        </h1>
    </a>
</tfoot>
<br />
<hr />
<br />

